    Backup 2025-10-31/🗄️Gestion envoi de mail client.json
{
  "updatedAt": "2025-10-31T20:42:48.382Z",
  "createdAt": "2025-10-29T20:34:30.969Z",
  "id": "1SPbHilxQXYvz3KQ",
  "name": "🗄️Gestion envoi de mail client",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "380f2d91-f98d-463f-a6d2-e927b36b7cb4",
      "name": "Webhook - Toutes Actions",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -400,
        192
      ],
      "webhookId": "booking-webhook-main"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "CREATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0d9c31be-52ee-4068-9c97-41459ea5e5a1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "UPDATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "45ff8688-ecf3-40a9-a0a2-562965329491"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "CANCELLED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "179b1ae3-fe0f-4a5c-b3a2-36295a41a958"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7e1b90a3-414a-4777-86f5-3dda74504c6b",
      "name": "Router - Type d'Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -208,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nreturn { json: { ...body, action: 'UPDATED' } };"
      },
      "id": "d2d1d6a6-2764-458e-834d-00a04f5d12c0",
      "name": "Format - Modification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nreturn { json: { ...body, action: 'CANCELLED' } };"
      },
      "id": "5885a04c-afdd-4b97-b514-4ffc8947b1bf",
      "name": "Format - Suppression",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        368
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "802cd6db09d67223ec8913a8d9b9523c22548e466cb00f9a0aee0b0b7560e6a9@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Voyage"
        },
        "start": "={{ $json.calendarStartDateTime }}",
        "end": "={{ $json.calendarEndDateTime }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.customerEmail }}"
          ],
          "description": "=📋 Détails de la réservation\n\nClient : {{ $json.customerName }}\nEmail : {{ $json.customerEmail }}\nTéléphone : {{ $json.customerPhone }}\n\nSession :\n- Type : {{ $json.type }}\n- Date : {{ $json.formattedDate }}\n- Horaire : {{ $json.timeSlots }}\n- Durée : {{ $json.duration }} minutes\n- Prix : {{ $json.price }}€\n\nCoach : {{ $json.coachName }}\nLieu : {{ $json.location }}\nAdresse : {{ $json.locationAddress }}\n\nNiveau : {{ $json.level }}\nObjectifs : {{ $json.goals }}\n\nRéservation #{{ $json.bookingId }}",
          "guestsCanModify": false,
          "location": "={{ $json.locationAddress }}",
          "sendUpdates": "all",
          "summary": "=🏌️ {{ $json.type }} - {{ $json.customerName }}"
        }
      },
      "id": "8fc46658-f16b-498e-b63e-dc32d1b622e8",
      "name": "Créer Événement Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7xSJQyXNzRbwYxv1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "802cd6db09d67223ec8913a8d9b9523c22548e466cb00f9a0aee0b0b7560e6a9@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Voyage"
        },
        "eventId": "={{ $json.calendarEventId }}",
        "updateFields": {
          "description": "=📋 Détails de la réservation (MODIFIÉE)\n\nClient : {{ $json.customerName }}\nEmail : {{ $json.customerEmail }}\nTéléphone : {{ $json.customerPhone }}\n\nSession :\n- Type : {{ $json.type }}\n- Date : {{ $json.formattedDate }}\n- Horaire : {{ $json.timeSlots }}\n- Durée : {{ $json.duration }} minutes\n- Prix : {{ $json.price }}€\n\nCoach : {{ $json.coachName }}\nLieu : {{ $json.location }}\nAdresse : {{ $json.locationAddress }}\n\nNiveau : {{ $json.level }}\nObjectifs : {{ $json.goals }}\n\n⚠️ Modifié le {{ new Date().toLocaleString('fr-FR') }}\n\nRéservation #{{ $json.bookingId }}",
          "end": "={{ $json.calendarEndDateTime }}",
          "location": "={{ $json.locationAddress }}",
          "sendUpdates": "all",
          "start": "={{ $json.calendarStartDateTime }}",
          "summary": "=🏌️ {{ $json.type }} - {{ $json.customerName }}"
        }
      },
      "id": "e8f489a9-6b7c-46fa-9075-3fdef49a7b5d",
      "name": "Modifier Événement Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        208,
        192
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7xSJQyXNzRbwYxv1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "802cd6db09d67223ec8913a8d9b9523c22548e466cb00f9a0aee0b0b7560e6a9@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Voyage"
        },
        "eventId": "={{ $json.calendarEventId }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "id": "d5474b00-0f46-49c0-b2fd-db7bca008f46",
      "name": "Supprimer Événement Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        208,
        368
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7xSJQyXNzRbwYxv1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format-CREATED').item.json.customerEmail }}",
        "subject": "=✅ Confirmation de votre réservation - {{ $('Format-CREATED').item.json.coachName }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <title>Confirmation de réservation</title>\n  <style>\n    /* Reset */\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      margin: 0;\n      padding: 0;\n      background-color: #f4f4f4;\n    }\n\n    /* Container */\n    .container {\n      max-width: 600px;\n      margin: 20px auto;\n      background: white;\n      border-radius: 12px;\n      overflow: hidden;\n      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n    }\n\n    /* Header */\n    .header {\n      background: linear-gradient(135deg, #1e3a8a 0%, #3b82f6 100%);\n      color: white;\n      padding: 40px 30px;\n      text-align: center;\n    }\n\n    .header h1 {\n      margin: 0;\n      font-size: 28px;\n      font-weight: 600;\n    }\n\n    .header .icon {\n      font-size: 48px;\n      margin-bottom: 10px;\n      display: block;\n    }\n\n    /* Content */\n    .content {\n      padding: 40px 30px;\n    }\n\n    .greeting {\n      font-size: 18px;\n      margin-bottom: 20px;\n      color: #1e3a8a;\n    }\n\n    /* Details Box */\n    .details-box {\n      background: #f8fafc;\n      border-left: 4px solid #3b82f6;\n      padding: 25px;\n      margin: 25px 0;\n      border-radius: 8px;\n    }\n\n    .details-box h3 {\n      margin: 0 0 20px 0;\n      color: #1e3a8a;\n      font-size: 20px;\n    }\n\n    .detail-row {\n      display: flex;\n      padding: 10px 0;\n      border-bottom: 1px solid #e2e8f0;\n    }\n\n    .detail-row:last-child {\n      border-bottom: none;\n    }\n\n    .detail-label {\n      font-weight: 600;\n      min-width: 140px;\n      color: #64748b;\n      flex-shrink: 0;\n    }\n\n    .detail-value {\n      color: #0f172a;\n      flex: 1;\n    }\n\n    .detail-value small {\n      color: #64748b;\n      display: block;\n      margin-top: 4px;\n    }\n\n    /* Info Section */\n    .info-section {\n      background: #fef3c7;\n      border-left: 4px solid #f59e0b;\n      padding: 20px;\n      margin: 25px 0;\n      border-radius: 8px;\n    }\n\n    .info-section h4 {\n      margin: 0 0 15px 0;\n      color: #92400e;\n      font-size: 16px;\n    }\n\n    .info-section ul {\n      margin: 0;\n      padding-left: 20px;\n    }\n\n    .info-section li {\n      margin: 8px 0;\n      color: #78350f;\n    }\n\n    /* Button */\n    .button-container {\n      text-align: center;\n      margin: 30px 0;\n    }\n\n    .button {\n      display: inline-block;\n      padding: 14px 32px;\n      background: #3b82f6;\n      color: white !important;\n      text-decoration: none;\n      border-radius: 8px;\n      font-weight: 600;\n      font-size: 16px;\n      transition: background 0.3s;\n    }\n\n    .button:hover {\n      background: #2563eb;\n    }\n\n    /* Footer */\n    .footer {\n      background: #f8fafc;\n      padding: 30px;\n      text-align: center;\n      border-top: 1px solid #e2e8f0;\n    }\n\n    .footer p {\n      margin: 8px 0;\n      color: #64748b;\n      font-size: 14px;\n    }\n\n    .footer a {\n      color: #3b82f6;\n      text-decoration: none;\n    }\n\n    .footer a:hover {\n      text-decoration: underline;\n    }\n\n    /* Divider */\n    .divider {\n      height: 1px;\n      background: #e2e8f0;\n      margin: 30px 0;\n    }\n\n    /* Responsive */\n    @media only screen and (max-width: 600px) {\n      .container {\n        margin: 10px;\n        border-radius: 8px;\n      }\n\n      .content {\n        padding: 30px 20px;\n      }\n\n      .header {\n        padding: 30px 20px;\n      }\n\n      .detail-row {\n        flex-direction: column;\n      }\n\n      .detail-label {\n        min-width: auto;\n        margin-bottom: 4px;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <!-- Header -->\n    <div class=\"header\">\n      <span class=\"icon\">🏌️</span>\n      <h1>Réservation Confirmée !</h1>\n    </div>\n    \n    <!-- Content -->\n    <div class=\"content\">\n      <p class=\"greeting\">\n        Bonjour <strong>{{ $('Format-CREATED').item.json.customerName }}</strong>,\n      </p>\n      \n      <p>\n        Nous sommes ravis de confirmer votre réservation de coaching golf ! \n        Votre session est maintenant enregistrée dans notre système et dans le calendrier de votre coach.\n      </p>\n      \n      <!-- Details Box -->\n      <div class=\"details-box\">\n        <h3>📋 Détails de votre session</h3>\n        \n        <div class=\"detail-row\">\n          <div class=\"detail-label\">📅 Date</div>\n          <div class=\"detail-value\">{{ $('Format-CREATED').item.json.formattedDate }}</div>\n        </div>\n        \n        <div class=\"detail-row\">\n          <div class=\"detail-label\">⏰ Horaire</div>\n          <div class=\"detail-value\">{{ $('Format-CREATED').item.json.timeSlots }}</div>\n        </div>\n        \n        <div class=\"detail-row\">\n          <div class=\"detail-label\">⏱️ Durée</div>\n          <div class=\"detail-value\">{{ $('Format-CREATED').item.json.duration }} minutes</div>\n        </div>\n        \n        <div class=\"detail-row\">\n          <div class=\"detail-label\">🏌️ Coach</div>\n          <div class=\"detail-value\">{{ $('Format-CREATED').item.json.coachName }}</div>\n        </div>\n        \n        <div class=\"detail-row\">\n          <div class=\"detail-label\">📍 Lieu</div>\n          <div class=\"detail-value\">\n            {{ $json.location }}\n            <small>{{ $('Format-CREATED').item.json.locationAddress }}</small>\n          </div>\n        </div>\n        \n        <div class=\"detail-row\">\n          <div class=\"detail-label\">🎯 Niveau</div>\n          <div class=\"detail-value\">{{ $('Format-CREATED').item.json.level }}</div>\n        </div>\n        \n        <div class=\"detail-row\">\n          <div class=\"detail-label\">🎓 Objectifs</div>\n          <div class=\"detail-value\">{{ $('Format-CREATED').item.json.goals }}</div>\n        </div>\n      </div>\n      \n      <!-- Info Section -->\n      <div class=\"info-section\">\n        <h4>📦 Ce qu'il faut apporter</h4>\n        <ul>\n          <li>Vos clubs de golf (ou location disponible sur place)</li>\n          <li>Une tenue confortable adaptée à la pratique du golf</li>\n          <li>Des chaussures de golf ou baskets propres</li>\n        </ul>\n      </div>\n      \n      <!-- Button -->\n      <div class=\"button-container\">\n        <a href=\"https://calendar.google.com/calendar/render?action=TEMPLATE&text={{ $('Format-CREATED').item.json.type }}%20-%20{{ $('Format-CREATED').item.json.customerName }}&dates={{ $('Format-CREATED').item.json.calendarStartDateTime }}/{{ $('Format-CREATED').item.json.calendarEndDateTime }}&details=Coaching%20avec%20{{ $('Format-CREATED').item.json.coachName }}%0ANiveau:%20{{ $('Format-CREATED').item.json.level }}&location={{ $('Format-CREATED').item.json.locationAddress }}\" \n           class=\"button\" \n           target=\"_blank\">\n          📅 Ajouter à mon calendrier\n        </a>\n      </div>\n      \n      <div class=\"divider\"></div>\n      \n      <!-- Reminder Info -->\n      <p style=\"color: #64748b; font-size: 14px;\">\n        📧 Un email de rappel vous sera envoyé <strong>24 heures avant</strong> votre session.<br>\n        📱 Vous recevrez également un SMS de confirmation si vous avez fourni votre numéro.\n      </p>\n      \n      <p style=\"margin-top: 30px;\">\n        Nous avons hâte de vous accueillir ! 🏌️‍♂️\n      </p>\n      \n      <p style=\"color: #64748b; margin-top: 20px;\">\n        Sportivement,<br>\n        <strong style=\"color: #1e3a8a;\">L'équipe {{ $('Format-CREATED').item.json.coachName }}</strong>\n      </p>\n    </div>\n    \n    <!-- Footer -->\n    <div class=\"footer\">\n      <p><strong>Golf Coach Reservation System</strong></p>\n      <p>Pour toute question ou modification :</p>\n      <p>\n        📧 <a href=\"mailto:contact@golfcoach.com\">contact@golfcoach.com</a><br>\n        📞 +33 1 23 45 67 89\n      </p>\n      <p style=\"margin-top: 20px; font-size: 12px; color: #94a3b8;\">\n        Réservation #{{ $('Format-CREATED').item.json.bookingId }}\n      </p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "56d0b921-1986-4b21-8b93-e0e4339fa685",
      "name": "Email - Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        0
      ],
      "webhookId": "526e8fa2-50bb-4c50-8c7e-c7fb053599b4",
      "credentials": {
        "gmailOAuth2": {
          "id": "mPfWOKq6INlbfygx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customerEmail }}",
        "subject": "=📝 Modification de votre réservation - {{ $json.coachName }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: 'Segoe UI', sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 20px auto; background: white; border-radius: 12px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #f59e0b 0%, #fbbf24 100%); color: white; padding: 40px 30px; text-align: center; }\n    .content { padding: 40px 30px; }\n    .details-box { background: #fef3c7; border-left: 4px solid #f59e0b; padding: 25px; margin: 25px 0; border-radius: 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\"><div style=\"font-size: 48px;\">📝</div><h1>Réservation Modifiée</h1></div>\n    <div class=\"content\">\n      <p>Bonjour <strong>{{ $json.customerName }}</strong>,</p>\n      <p>Votre réservation a été modifiée avec succès.</p>\n      <div class=\"details-box\">\n        <strong>📅 {{ $json.formattedDate }}</strong><br>\n        <strong>⏰ {{ $json.timeSlots }}</strong><br>\n        🏌️ Coach: {{ $json.coachName }}<br>\n        📍 {{ $json.location }}\n      </div>\n      <p>À bientôt ! 🏌️‍♂️</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "31419a52-f675-4f52-97b5-68db105a39a2",
      "name": "Email - Modification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        192
      ],
      "webhookId": "438117c5-5bf7-48eb-b8b9-001e1ea3dde5",
      "credentials": {
        "gmailOAuth2": {
          "id": "mPfWOKq6INlbfygx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customerEmail }}",
        "subject": "=❌ Annulation de votre réservation - {{ $json.coachName }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: 'Segoe UI', sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 20px auto; background: white; border-radius: 12px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #dc2626 0%, #ef4444 100%); color: white; padding: 40px 30px; text-align: center; }\n    .content { padding: 40px 30px; }\n    .details-box { background: #fee2e2; border-left: 4px solid #dc2626; padding: 25px; margin: 25px 0; border-radius: 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\"><div style=\"font-size: 48px;\">❌</div><h1>Réservation Annulée</h1></div>\n    <div class=\"content\">\n      <p>Bonjour <strong>{{ $json.customerName }}</strong>,</p>\n      <p>Votre réservation a été annulée.</p>\n      <div class=\"details-box\">\n        📅 {{ $json.formattedDate }}<br>\n        ⏰ {{ $json.timeSlots }}<br>\n        🏌️ Coach: {{ $json.coachName }}\n      </div>\n      <p>Nous espérons vous revoir bientôt ! 🏌️‍♂️</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "da196e12-75eb-4760-bd34-7ee4f65d65f9",
      "name": "Email - Annulation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        368
      ],
      "webhookId": "8c6906c7-2cc0-4356-8ee2-6c19c8c499ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "mPfWOKq6INlbfygx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://golfcoachreservation-production.up.railway.app/api/n8n/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "local-n8n-api-key"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "={{ $json.action === 'CREATED' ? 'BOOKING_CONFIRMED' : $json.action === 'UPDATED' ? 'BOOKING_UPDATED' : 'BOOKING_CANCELLED' }}"
            },
            {
              "name": "bookingId",
              "value": "={{ $json.bookingId }}"
            },
            {
              "name": "calendarEventId",
              "value": "={{ $json.calendarEventId }}"
            },
            {
              "name": "emailSent",
              "value": true
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "25d6d570-962e-422d-951c-832d8a5eaeb7",
      "name": "Callback vers App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dgvfiMsD7YMwfrwo",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"action\": \"{{ $json.action }}\",\n  \"bookingId\": \"{{ $json.bookingId }}\",\n  \"calendarEventId\": \"{{ $json.calendarEventId }}\",\n  \"emailSent\": true,\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "713012c1-fa92-4234-955a-ec7f9e887388",
      "name": "Réponse Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        976,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nreturn { json: { ...body, action: 'CREATED' } };"
      },
      "id": "41abf924-4399-4034-995c-8852a7d45a50",
      "name": "Format-CREATED",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// 🧩 Étape 1 : Récupérer l'action depuis le Webhook\nconst action = $('Webhook - Toutes Actions').first().json.body.action; // ex: \"CREATED\", \"UPDATED\", \"CANCELLED\"\nconsole.log(\"Action détectée :\", action);\n\n// 🧩 Étape 2 : Construire dynamiquement le nom du nœud Format correspondant\nconst formatNodeName = `Format-${action}`;\nconsole.log(\"Nœud Format :\", formatNodeName);\n\n// Vérifie que le nœud Format existe et contient des données\nlet formatData = {};\ntry {\n  formatData = $node[formatNodeName].json;\n} catch (error) {\n  throw new Error(`❌ Impossible de récupérer les données du nœud ${formatNodeName}`);\n}\n\n// 🧩 Étape 3 : Déterminer dynamiquement le nœud Calendar correspondant\nconst calendarNodes = {\n  CREATED: 'Créer Événement Calendar',\n  UPDATED: 'Modifier Événement Calendar',\n  CANCELLED: 'Supprimer Événement Calendar',\n};\nconst calendarNodeName = calendarNodes[action];\nconsole.log(\"Nœud Calendar :\", calendarNodeName);\n\n// 🧩 Étape 4 : Récupérer l'ID de l'événement Calendar (si disponible)\nlet calendarEventId = null;\ntry {\n  calendarEventId = $(calendarNodeName).first().json.id;\n} catch (e) {\n  console.warn(`⚠️ Le nœud ${calendarNodeName} n'a pas de données pour cette exécution.`);\n  calendarEventId = null;\n}\n\n// 🧩 Étape 5 : Retourner les données fusionnées\nreturn {\n  json: {\n    ...formatData,\n    calendarEventId,\n  },\n};\n"
      },
      "id": "2ba1ddc2-22b8-4e6e-8b4b-dd75b8ca3b82",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        192
      ]
    }
  ],
  "connections": {
    "Webhook - Toutes Actions": {
      "main": [
        [
          {
            "node": "Router - Type d'Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router - Type d'Action": {
      "main": [
        [
          {
            "node": "Format-CREATED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format - Modification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format - Suppression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format - Modification": {
      "main": [
        [
          {
            "node": "Modifier Événement Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format - Suppression": {
      "main": [
        [
          {
            "node": "Supprimer Événement Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Événement Calendar": {
      "main": [
        [
          {
            "node": "Email - Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modifier Événement Calendar": {
      "main": [
        [
          {
            "node": "Email - Modification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supprimer Événement Calendar": {
      "main": [
        [
          {
            "node": "Email - Annulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Confirmation": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Modification": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Annulation": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback vers App": {
      "main": [
        [
          {
            "node": "Réponse Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format-CREATED": {
      "main": [
        [
          {
            "node": "Créer Événement Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Callback vers App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook - Toutes Actions": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-type": "application/json",
            "authorization": "Bearer local-n8n-api-key",
            "user-agent": "GolfCoachReservation/1.0",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "accept-encoding": "gzip, deflate",
            "content-length": "702"
          },
          "params": {},
          "query": {},
          "body": {
            "action": "CREATED",
            "bookingId": "cmhfa884o001rvm60h8j741sk",
            "bookingDate": "2025-11-19T23:00:00.000Z",
            "duration": 90,
            "type": "Coaching Golf",
            "customerName": "bragance marcel",
            "customerEmail": "bragance.m@hotmail.fr",
            "customerPhone": "0658223929",
            "formattedDate": "jeudi 20 novembre 2025 à 13:30",
            "timeSlots": "13:30 - 15:00",
            "price": 100,
            "coachName": "Coach Golf Pro",
            "location": "Golf Indoor Center",
            "locationAddress": "123 Avenue du Golf, 75000 Paris",
            "level": "Tous niveaux",
            "goals": "Amélioration technique et pratique",
            "appUrl": "http://localhost:3000",
            "calendarStartDateTime": "20251120T123000Z",
            "calendarEndDateTime": "20251120T140000Z",
            "timestamp": "2025-10-31T20:04:42.491Z",
            "source": "golf-coach-reservation"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/booking-webhook",
          "executionMode": "test"
        }
      }
    ],
    "Router - Type d'Action": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-type": "application/json",
            "authorization": "Bearer local-n8n-api-key",
            "user-agent": "GolfCoachReservation/1.0",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "accept-encoding": "gzip, deflate",
            "content-length": "702"
          },
          "params": {},
          "query": {},
          "body": {
            "action": "CREATED",
            "bookingId": "cmhfa884o001rvm60h8j741sk",
            "bookingDate": "2025-11-19T23:00:00.000Z",
            "duration": 90,
            "type": "Coaching Golf",
            "customerName": "bragance marcel",
            "customerEmail": "bragance.m@hotmail.fr",
            "customerPhone": "0658223929",
            "formattedDate": "jeudi 20 novembre 2025 à 13:30",
            "timeSlots": "13:30 - 15:00",
            "price": 100,
            "coachName": "Coach Golf Pro",
            "location": "Golf Indoor Center",
            "locationAddress": "123 Avenue du Golf, 75000 Paris",
            "level": "Tous niveaux",
            "goals": "Amélioration technique et pratique",
            "appUrl": "http://localhost:3000",
            "calendarStartDateTime": "20251120T123000Z",
            "calendarEndDateTime": "20251120T140000Z",
            "timestamp": "2025-10-31T20:04:42.491Z",
            "source": "golf-coach-reservation"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/booking-webhook",
          "executionMode": "test"
        }
      }
    ],
    "Créer Événement Calendar": [
      {
        "json": {
          "kind": "calendar#event",
          "etag": "\"3523882166614398\"",
          "id": "68haqlnukt5u8uh4mv22m0m6qo",
          "status": "confirmed",
          "htmlLink": "https://www.google.com/calendar/event?eid=NjhoYXFsbnVrdDV1OHVoNG12MjJtMG02cW8gODAyY2Q2ZGIwOWQ2NzIyM2VjODkxM2E4ZDliOTUyM2MyMjU0OGU0NjZjYjAwZjlhMGFlZTBiMGI3NTYwZTZhOUBn",
          "created": "2025-10-31T20:04:43.000Z",
          "updated": "2025-10-31T20:04:43.307Z",
          "summary": "🏌️ Coaching Golf - bragance marcel",
          "description": "📋 Détails de la réservation\n\nClient : bragance marcel\nEmail : bragance.m@hotmail.fr\nTéléphone : 0658223929\n\nSession :\n- Type : Coaching Golf\n- Date : jeudi 20 novembre 2025 à 13:30\n- Horaire : 13:30 - 15:00\n- Durée : 90 minutes\n- Prix : 100€\n\nCoach : Coach Golf Pro\nLieu : Golf Indoor Center\nAdresse : 123 Avenue du Golf, 75000 Paris\n\nNiveau : Tous niveaux\nObjectifs : Amélioration technique et pratique\n\nRéservation #cmhfa884o001rvm60h8j741sk",
          "location": "123 Avenue du Golf, 75000 Paris",
          "creator": {
            "email": "jobpixie452@gmail.com"
          },
          "organizer": {
            "email": "802cd6db09d67223ec8913a8d9b9523c22548e466cb00f9a0aee0b0b7560e6a9@group.calendar.google.com",
            "displayName": "Voyage",
            "self": true
          },
          "start": {
            "dateTime": "2025-11-20T12:30:00Z",
            "timeZone": "Europe/Paris"
          },
          "end": {
            "dateTime": "2025-11-20T14:00:00Z",
            "timeZone": "Europe/Paris"
          },
          "iCalUID": "68haqlnukt5u8uh4mv22m0m6qo@google.com",
          "sequence": 0,
          "attendees": [
            {
              "email": "bragance.m@hotmail.fr",
              "responseStatus": "needsAction"
            }
          ],
          "reminders": {
            "useDefault": true
          },
          "eventType": "default"
        }
      }
    ],
    "Email - Confirmation": [
      {
        "json": {
          "id": "19a3bea4cb0ecd08",
          "threadId": "19a3bea4cb0ecd08",
          "labelIds": [
            "SENT"
          ]
        }
      }
    ],
    "Format-CREATED": [
      {
        "json": {
          "action": "CREATED",
          "bookingId": "cmhfa884o001rvm60h8j741sk",
          "bookingDate": "2025-11-19T23:00:00.000Z",
          "duration": 90,
          "type": "Coaching Golf",
          "customerName": "bragance marcel",
          "customerEmail": "bragance.m@hotmail.fr",
          "customerPhone": "0658223929",
          "formattedDate": "jeudi 20 novembre 2025 à 13:30",
          "timeSlots": "13:30 - 15:00",
          "price": 100,
          "coachName": "Coach Golf Pro",
          "location": "Golf Indoor Center",
          "locationAddress": "123 Avenue du Golf, 75000 Paris",
          "level": "Tous niveaux",
          "goals": "Amélioration technique et pratique",
          "appUrl": "http://localhost:3000",
          "calendarStartDateTime": "20251120T123000Z",
          "calendarEndDateTime": "20251120T140000Z",
          "timestamp": "2025-10-31T20:04:42.491Z",
          "source": "golf-coach-reservation"
        }
      }
    ]
  },
  "versionId": "a7854c89-218d-45ef-ba4d-f75d10a2843d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-29T20:34:30.969Z",
      "createdAt": "2025-10-29T20:34:30.969Z",
      "role": "workflow:owner",
      "workflowId": "1SPbHilxQXYvz3KQ",
      "projectId": "MNN6I3Aq8chOdsCX"
    }
  ],
  "tags": []
}